<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 id="Admin">MVP</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/Adminuser">Admin User</a>
                </li>
                <li>
                    <a href="/Organization">Organization</a>
                </li>
                <li class="active">
                    <a href="/alluser">Users</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <%- include('adheader') %>
            <div class="card" id="allusercard">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="text-center pull-left" id="url">
                                Users
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div id="allusertable" style="border: 2px solid white;">
                            <table class="display responsive text-center table-bordered" cellspacing="0"
                                style="width:100%;" id="allusertbl">
                                <thead class="thead-dark bg-color">
                                    <tr class="text-center" style="color:white;background-color:blue;">
                                        <th scope="col">id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $("#logout").on('click', function () {
            localStorage.clear();
         })
        var token = localStorage.getItem('token');
        check();
        function check(){
            $.ajax({
                url: 'token',
                type: 'get',
                headers: {
                    authorization: token
                },
                success: function (data) {
                    if (data.data != null) {
                        orgRetrive();
                    }
                    else {
                        window.location.href = '/login'
                    }
                }
            });
        }
        $(document).ready(function () {
            $('#Adminname').empty()
            $('#Adminname').append('Admin')
            orgRetrive();
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        function orgRetrive() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            });
            var ses = "SPADMIN";
            $('#allusertbl').DataTable({
                "serverSide": false,
                "fixedheader": true,
                "language": {
                    search: "_INPUT_",
                    searchPlaceholder: "Search Here ..",
                    processing: '<i class="fa fa-spinner fa-pulse " ></i>'
                },
                "destroy": true,
                "searching": true,
                "ordering": true,
                "scrollX": true,
                "processing": true,
                "ajax": {
                    "url": "allusertable",
                    "type": 'GET',
                    "headers": {authorization:token},
                    dataSrc: function (json) {
                        if (json.data != null) {
                            $('#allusertbl').show();
                            if (json.status == "pass") {

                                return json.data;
                            }
                            else {
                                return [];

                            }
                        }
                        else{
                            window.location.href='/login';
                        }
                    },
                    "xhrFields": {
                        "withCredentials": true
                    },
                },
                "columns": [
                    {
                        "data": 'id'
                    },
                    {
                        "data": "Name"
                    },
                    {
                        "data": "email"
                    },
                    {
                        "data": "role"
                    },
                ],
                'columnDefs': [
                    {
                        'targets': [0],
                        'visible': false,

                    },
                    ],
                "fnCreatedRow": function (nRow, aData, iDataIndex) {
                    $(nRow).children("td").css("overflow", "hidden");


                    $(nRow).children("td").css("white-space", "nowrap");
                    $(nRow).children("td").css("text-overflow", "ellipsis");
                },
            });
            $('#allusertable').wrap('<div class="dataTables_scroll" />');
        }
    </script>
</body>

</html>