<nav id="sidebar">
    <div class="sidebar-header">
        <h3 id="Adminname"></h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a class="active" href="/project">Projects</a>
        </li>
        <li>
            <a class="a" href="/organizationusers">Users</a>
        </li>
    </ul>
</nav>