<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1 id="Adminname"></h1>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/project">Projects</a>
                </li>
                <li class="active">
                    <a href="/organizationusers">Users</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-dark bg-ligh">
                <div class="container-fluid">

                    <div class="navbar-nav mr-auto">
                        <button type="button" id="sidebarColle" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                        </button>
                    </div>
                </div>
            </nav>
            <div class="card" id="usertablecard">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="text-center btn btn-primary pull-right" id="create" style="margin:1%;">
                        Create User
                    </button>
                </div>
                <div class="card-header ">User list

                    </i></a></div>
                <div class="card-body">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div id="orgusertable" style="border: 2px solid white;">
                            <table class="display responsive text-center table-bordered" cellspacing="0"
                                style="width:100%;" id="orgusertbl">
                                <thead class="thead-dark bg-color">
                                    <tr class="text-center" style="color:white;background-color:blue;">
                                        <th scope="col">id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">role</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
            <div class="card" id="usercard" style="display: none;">
    
                <div class="card-header ">User Creation</div>
                <div class="card-body">
                <form id="userform">
                  <div class="row">
                  <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="name">Name</label>
                             <input type="text" class="form-control" id="name" name="Name" placeholder="Enter name"> 
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                          <label for="phone">Mobile No</label>
                          <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone">
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <button type="button" class="btn btn-primary" id="submit">Submit</button>
                    </div>
                </div>
                  <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="password">password</label>
                        <input type="text" class="form-control" id="password" name="password" placeholder="Enter Password">
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="Is_Active">Is_Active</label>
                        <input type="checkbox" id="Is_Active" name="Is_Active" value="1">
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="Is_Admin">Is_Admin</label>
                        <input type="checkbox" id="role" name="role" value="2">
                      </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      </div>
                      </div>
        </div>
    </form>
    </div>
    </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        var token = localStorage.getItem('token');
        check();
        function check() {
            $.ajax({
                url: 'token',
                type: 'get',
                headers: {
                    authorization: token
                },
                success: function (data) {
                    if (data.data != null) {
                        $.ajax({
                            url: 'getname',
                            type: 'get',
                            headers: {
                                authorization: token
                            },
                            success: function (data) {
                                console.log(data.orgname)
                                $('#Adminname').append(data.orgname)
                            }
                        })
                        $('#usercard').hide();
                        $('#usertablecard').show();
                        orgRetrive();
                    }
                    else {
                        window.location.href = '/login'
                    }
                }
            });
        }
        $("#create").on('click', function () {
            $('#usercard').show();
            $('#usertablecard').hide();
        })
        $(document).ready(function () {
            orgRetrive();
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        $('#submit').on('click', function () {
            var form_data = $("#userform").serializeArray();
            console.log(form_data);
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", form_data._csrf)
                    }
                }
            });
            baseurls = "orguserreg"
            $.ajax({
                url: baseurls,
                type: 'post',
                headers: {
                    authorization: token
                },
                dataType: 'json',
                data: form_data,
                success: function (data) {
                    if (data.data != null) {
                        alert('orgcreated successfully')
                        $('#usercard').hide();
                        $('#usertablecard').show();
                        orgRetrive();
                    }
                    else {
                        window.location.href = '/login'
                    }
                }
            });
        })
        function orgRetrive() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            });
            var ses = "SPADMIN";
            $('#orgusertbl').DataTable({
                "serverSide": false,
                "fixedheader": true,
                "language": {
                    search: "_INPUT_",
                    searchPlaceholder: "Search Player Here ..",
                    processing: '<i class="fa fa-spinner fa-pulse " ></i>'
                },
                "destroy": true,
                "searching": true,
                "ordering": true,
                "scrollX": true,
                "processing": true,
                "ajax": {
                    "url": "usertable",
                    "type": 'GET',
                    "headers": { authorization: token },
                    dataSrc: function (json) {
                        if (json.data != null) {
                            $('#orgusertbl').show();
                            if (json.status == "pass") {

                                return json.data;
                            }
                            else {
                                return [];

                            }
                        }
                        else {
                            window.location.href = '/login';
                        }
                    },
                    "xhrFields": {
                        "withCredentials": true
                    },
                },
                "columns": [
                    {
                        "data": 'id'
                    },
                    {
                        "data": "Name"
                    },
                    {
                        "data": "email"
                    },
                    {
                        "data": "role"
                    },
                    {
                        "data": "Action"
                    }
                ],
                'columnDefs': [
                    {
                        'targets': [0],
                        'visible': false,

                    },
                    {
                        'targets': [-1],
                        'render': function () {
                            if (ses != '') {
                                if (ses == "SPADMIN") {
                                    return '<i><select name="values" id="ope"><option value="">Select</option><option value="Repolist">Repo list</option><option value="alluser">View users</option></select></i>'
                                }

                            }
                            else {
                                return table.columns([-1]).visible(false);
                            }
                        }

                    }],
                "fnCreatedRow": function (nRow, aData, iDataIndex) {
                    $(nRow).children("td").css("overflow", "hidden");


                    $(nRow).children("td").css("white-space", "nowrap");
                    $(nRow).children("td").css("text-overflow", "ellipsis");
                },
            });
            $('#orgusertable').wrap('<div class="dataTables_scroll" />');
        }
    </script>
</body>

</html>