<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <%- include('../partials/logform');%>
    </body>
</html>
