<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <%- include('../partials/regform');%>
    </body>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>